<main>
  <p>country-details for {{ countryName }} works!</p>

  <!-- <pre *ngIf="country">{{ JSON.stringify(country, null, 2) }}</pre> -->
  <ul *ngIf="country">
    <li>New Cases: {{ country.cases.new || 0 }}</li>
    <li>Active Cases: {{ country.cases.active || 0 }}</li>
    <li>Recovered: {{ country.cases.recovered || 0 }}</li>
    <li>Total cases: {{ country.cases.total || 0 }}</li>
    <li>Total deaths: {{ country.deaths.total || 0 }}</li>

    <li>Last updated at {{ country.time }}</li>
  </ul>
</main>
