<main>
  <section>
    <h1>Countries statistic</h1>
  </section>

  <section>
    <table>
      <thead>
        <tr>
          <td>Country</td>
          <td>Continent</td>
          <td>Population</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries">
          <td>
            <a
              [title]="country.country + ' details'"
              [routerLink]="['/country', country.country]"
              >{{ country.country }}</a
            >
          </td>
          <td>{{ country.continent }}</td>
          <td>{{ country.population }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
